*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

h2{
    text-align: center;
    margin-top: 40px;
}

h4{
    margin-bottom: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}

.row > *{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.col{
    flex: 1 0 0%;
}

input{
    outline: none;
    border: 1px solid brown;
    padding: 5px 10px;
    border-radius: 5px;
    /* border-bottom: 1px solid brown; */
    margin-top: -10px;
    color: brown;
}

.calculation-point{
    margin-top: 50px;
}

.btn{
    margin-top: 50px;
    text-align: center;
}

button{
    padding: 10px 40px;
    background-color: brown;
    color: white;
    font-size: 1.15rem;
    outline: none;
    border: none;
    border-radius: 5px;
}